@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
$basecolor:#ece4d9;
.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App-particles__container {
  overflow: hidden;
  position: absolute;
  top: 9%;
  left: 0px;
  bottom: 71%;
  right: 0px;
  z-index: 0;
}
.App-particles__container canvas {
  transition: 0.2s all ease-in-out;
  z-index: 0;
  width: 91%;
  height: 44%;
}

#name{
  font-family: monospace;
    text-transform: inherit;
    display: block;
    font-size: 41px;
    color: #ffffff;
    text-shadow: 0 8px 9px #c4b59d, 0px -2px 1px #fff;
    letter-spacing: -4px;
    text-align: center;
    padding: 47px 14px;
}
.intro-container{
  background-color: #ece4d9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar {
  z-index: 4;
}
body{
  background-color: $basecolor;
}
.title-container{
  font-family: 'Bebas Neue', cursive;
  color: dimgrey;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 550px) {
  #pc-image {
    display: none;
  }
}
.contact-form{
  border-radius: 19px;
  background: #ece4d9;
  padding: 30px;
  display: flex;
  width: fit-content;
  box-shadow: 28px 28px 55px #dbd4ca, -28px -28px 55px #fdf4e8;
  flex-direction: column;
  align-items: center;
}
button{
  background-color: #43b69c;
  border: none;
  border-radius: 11px;
  color: white;
  font-family: monospace;
  margin: 5px;
}
input{
  margin: 3px;
    border-radius: 5px;
    border: none;
}
.contact-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.skills-container{
  display: flex;
    align-items: center;
    justify-content: space-evenly;
}