@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
$basecolor:#dbd4ca;
$green:#c280ee;
@media (min-width:600px) {
  body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-thumb {
  background-color: $green;    /* color of the scroll thumb */
}
.creativity-container{
  margin-top: -7%;
}
}
a:hover {
  color: #ffffff;
}
@mixin card {
  color: white;
  &:hover{
  box-shadow: -2px 1px 10px 0px $green
}
}
.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
h2{
  font-size: calc(1.9rem + 0.9vw);
  transition: color 0.8s linear 0.2s;
  &:hover{
    color:$green
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background-color: black;
}
.App-particles__container {
  overflow: hidden;
  position: absolute;
  left: 0px;
  right: 0px;
  z-index: 0;
  canvas {
  transition: 0.2s all ease-in-out;
  z-index: 0;
  width: 91%;
  height: 44%;
}
}

#name{
  font-family: monospace;
  text-transform: inherit;
  display: block;
  font-size: 29px;
  color: #ffffff;
  letter-spacing: -4px;
  text-align: center;
  padding: 1px 1px;
}
#arrow{
  position: fixed;
  bottom: 14%;
  right: 4%;
  font-size: 1.4rem;
  z-index: 7;
}
.intro-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar {
  z-index: 4;
}
.title-container{
  font-family: 'Bebas Neue';
  color: #c5c1de;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  &::before{
    content: '<h1>';
    color: rgb(51, 51, 51);
    font-family: 'Lobster';
    margin-right: 3%;
  }
  &::after{
    content: '</h1>';
    color: rgb(51, 51, 51);
    font-family: 'Lobster';
    margin-left: 3%;
  }
}
.image-card{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.image-description{
    position: relative;
}
.tech{
  background-color: $green;
  color: #fffefd;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2%;
  height: 1.8em;
  display: flex;
  border-radius: 12px;
  /* align-items: center; */
  margin-left: 1%;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.card1:hover {
  .image {
  opacity: 0.3;
}.middle {
  opacity: 1;
}
}
.text {
  background-color: #00000054;
  color: white;
  margin: 0%;
  font-size: 13px;
  /* padding: 1%; */
  display: flex;
  height: 168px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
#npm{
  width: 22%;
}
.contact-form{
  border-radius: 19px;
  padding: 30px;
  display: flex;
  width: 21rem;
  flex-direction: column;
  align-items: center;
  z-index: 3;
  @include card();
}
button{
  background-color:$green;
  border: none;
  border-radius: 11px;
  font-family: monospace;
  font-size: 1.5rem;
  margin: 5px;
  &:hover{
  background: black;
    box-shadow: $green 0px 0px 2px 2px;
    cursor: pointer;
    color: white;
}
}
.buttonPC{
  background-color: black !important;
  color: gray;
  cursor: default !important;
}
a{
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.skills{
    border-radius: 20px;
    padding: 16px;
    border: solid 1px;
    color: white;
    &:hover{
      box-shadow: -2px 1px 10px 0px $green
    }
  p img{
    margin-right: 1%;
  }
}
input, textarea{
  margin: 3px;
    border-radius: 5px;
    border: none;
    width: 80%;
    resize: none;
    color: $green;
    font-family: monospace;
}
.contact-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 21rem;
 
}
.skills-container{
  display: flex;
    align-items: center;
    justify-content: space-evenly;
  img{
    margin-left: 2%;
  }
  margin-top: 3%;
}
.footer{
  background-color: black;
  height: 10%;
  margin-top: 4%;
}
.icon{
  font-size: 4rem;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: $green;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.container-projects{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10%;
}
.card1{
  margin: 1%;
    border-radius: 20px;
    color: white;
    border: solid 1px #e0e0e012;
  @include card();
}
h6{
  color: $green;
  font-family: 'Lobster', cursive;
  font-size: xx-large;
}
.henry a{
  color:red
}
.brain-container{
  width: 100%;
  display: flex;
  background-color: #c5c1de;
  align-items: center;
  justify-content: center;
  z-index: 3;
  font-family: fangsong;
  font-size: 1.2rem;
  transition: color 0.8s linear 0.2s;
}

.creativity-container{
  display: flex;
    font-family: 'Bebas Neue';
    font-size: 2rem;
    color: white;
    align-items: center;
    margin-top: -3%;
}
.svgbrain{
  z-index: 0;
  margin-top: -11%;
}
.description{
  font-family: monospace;
  margin-left: 4%;
  margin-right: 4%;
  min-height: 48px;
}
.tsparticles-canvas-el{
  width: 100%;
  height: 229px !important;
  pointer-events: initial;
}
.container-js{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}
h5{
  font-family: Lobster;
}
.henry{
    width: fit-content;
    padding: 6px;
    display: flex;

}
.certificate{
  padding: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  width: 85%;
  border: solid 1px;
  color: white;
  &:hover{
    box-shadow: -2px 1px 10px 0px $green
  }
}
@media (max-width: 650px) {
  #pc-image {
    display: none;
  }
  .contact-container{
    flex-direction: column;
  }
  .contact-form{
    margin-bottom: 5%;
  }
  .title-container img {
      width: 7rem;
  }
  .card-container{
    display: none !important
  }
  .card1{
    width: 80%;
    margin-top: 5%;
  }
  #profile{
    display: none;
  }
  .skills-container{
    flex-direction: column;
  }
  .brain-container{
    flex-direction: column;
  }
  #npm{
    width: 40%;
  }
  .skills{
    margin-bottom: 7%;
  }
  .description{
    min-height: fit-content;
  }
  .creativity-container{
    flex-direction: column;
  }
  .container-js{
    flex-flow: column-reverse;
  }
}
.res-container{
  display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.customButton{
  color: white;
}
@media (min-width:650px) {
  .res-container{
    display: none;
    
  }
  .card1{
    width: 40%;
  }
}