@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
$basecolor:#dbd4ca;
$green:#43b69c;
@mixin card {
  background: #00000012;
  box-shadow: 1px 7px 13px 1px $basecolor;
  &:hover{
  box-shadow: -2px 1px 10px 0px $green
}
}
.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
h2{
  font-size: calc(1.9rem + 0.9vw);
  transition: color 0.8s linear 0.2s;
  &:hover{
    color:$green
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App-particles__container {
  overflow: hidden;
  position: absolute;
  left: 0px;
  right: 0px;
  z-index: 0;
  canvas {
  transition: 0.2s all ease-in-out;
  z-index: 0;
  width: 91%;
  height: 44%;
}
}

#name{
  font-family: monospace;
  text-transform: inherit;
  display: block;
  font-size: 41px;
  color: #000000;
  letter-spacing: -4px;
  text-align: center;
  padding: 47px 14px;
}
#arrow{
  position: fixed;
  bottom: 14%;
  right: 4%;
  font-size: 1.4rem;
  z-index: 7;
}
.intro-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar {
  z-index: 4;
}
.title-container{
  font-family: 'Bebas Neue';
  color: dimgrey;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-card{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.image-description{
    position: relative;
}
.tech{
  background-color: #43b69c;
  color: #fffefd;
  width: fit-content;
  padding: 4%;
  height: 1.8em;
  display: flex;
  border-radius: 12px;
  align-items: center;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.card1:hover {
  .image {
  opacity: 0.3;
}.middle {
  opacity: 1;
}
}
.text {
  background-color: #00000054;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  display: flex;
  height: 168px;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
#npm{
  width: 22%;
}
.contact-form{
  border-radius: 19px;
  padding: 30px;
  display: flex;
  width: 21rem;
  flex-direction: column;
  align-items: center;
  z-index: 3;
  @include card();
}
button{
  background-color:$green;
  border: none;
  border-radius: 11px;
  color: white;
  font-family: monospace;
  margin: 5px;
  &:hover{
  background: black;
    box-shadow: $green 0px 0px 2px 2px;
}
}
a{
  color: #000000;
  :hover{
    color: $green;
  }
}
input, textarea{
  margin: 3px;
    border-radius: 5px;
    border: none;
    width: 80%;
    resize: none;
    color: $green;
    font-family: monospace;
}
.contact-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 21rem;
}
.skills-container{
  display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.footer{
  background-color: $green;
  height: 10%;
  margin-top: 4%;
}
.icon{
  font-size: 4rem;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: $green;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.container-projects{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10%;
}
.card1{
  margin: 1%;
  border-radius: 20px;
  @include card();
}
h6{
  color: #43b69c;
  font-family: 'Lobster', cursive;
  font-size: xx-large;
}
.description{
  font-family: monospace;
  margin-left: 4%;
  margin-right: 4%;
  min-height: 120px;
}
.tsparticles-canvas-el{
  width: 100%;
  height: 229px !important;
  pointer-events: initial;
}
@media (max-width: 650px) {
  #pc-image {
    display: none;
  }
  .contact-container{
    flex-direction: column;
  }
  .contact-form{
    margin-bottom: 5%;
  }
  .title-container img {
      width: 7rem;
  }
  .card-container{
    flex-direction: column;
    align-items: center;
  }
  .card1{
    width: 80%;
  }
  .skills-container{
    flex-direction: column;
  }
  #npm{
    width: 40%;
  }
  .description{
    min-height: fit-content;
  }
}